* {
    box-sizing: border-box;
    margin: 0px;
}

body {
}

#window {
    visibility: visible;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    top: 110px;
    z-index: 1;
}

#nav-title {
    font-size: 26px;
}

.nav-link {
    font-size: 20px;
    margin-left: 30px;
}

.jumbotron {
    height: 400px;
    /*background-image: url("assets/house1.jpg")*/
}

.page-title {
    text-align: center;
    font-size: 74px;
    margin: 80px 0 50px 0;
    min-width: 300px;
}

.page-description {
    margin: 40px 20%;
    min-width: 300px;
    text-align: center;
    font-size: 26px;
}

.article-pic {
    margin: 0 24%;
    width: 52%;
}

.timeline {
    text-align: center;
    height: 1000px;
}

.timeline-line {
    width: 20px;
    height: inherit;
    background-color: red;
    position: absolute;
    margin-top: 20px;
}

#event {
    /*background-color: orange;*/
    text-align: right;
}

#media {
    /*background-color: darkred;*/
    text-align: center;
    padding-top: 8px;
}

#media img {
}

#text {
    /*background-color: aqua;*/
    width: 260px;
}

#text p {
    padding-right: 20px;
}

#text h3 {
    /*background-color: burlywood;*/
    padding-right: 20px;
}

#circle {
    /*background-color: greenyellow;*/
    padding-top: 8px;
}

#date {
    /*background-color: purple;*/
    padding-top: 8px;
}

#date h3 {
    /*background-color: green;*/
    padding-left: 20px;

}